<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Butlr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>985FF6121D96FF2D0038A16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985FF6261D96FF2D0038A16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985FF6311D96FF2D0038A16B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
